<!DOCTYPE html>
<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="Description" content="A tool for getting a better overview of the new models of 3rd edition Malifaux">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <meta name="twitter:card" content="app" />
    <meta property="og:url" content="https://m3e.hong-crewet.dk" />
    <meta property="og:title" content="Malifaux3E Beta Analyzer" />
    <meta property="og:description" content="A tool for getting a better overview of the new models of 3rd edition Malifaux" />
    <meta property="og:image" content="https://m3e.hong-crewet.dk/pwa/icon-512.png" />
    <link rel="manifest" href="/pwa/manifest.json">
    <link rel=canonical href=“https://m3e.hong-crewet.dk” />
    <noscript>
      Please enable javascript to view this tool
    </noscript>
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
</html>
