@page {
  size: A4;
}

.printStyleWrapper {
  margin: 10px auto;
  text-align:center;
}

@media print {
  .printStyleWrapper {
    display: none;
  }
}

.beta {
  color: #999;
}

.printSuit {
  width:2mm;
  height:2mm;
  vertical-align: middle;
}

.printModel, .printUpgrade {
  page-break-inside: avoid;
  border: .25mm solid #000;
  position: relative;
}

.m2e {
  font-size: 1.7mm;
  line-height: 2mm;
}

.m2e .printModel {
  width: 179.5mm;
  height: 64.5mm;
  overflow:hidden;
}

.m2e .printModel .front,
.m2e .printModel .back {
  width: 89.5mm;
  height: 64.5mm;
  float:left;
  position: relative;
}

.m2e .printModel .front {
  border: .25mm none #000;
  border-right-style: dashed;
}

.m2e .front .picture {
  width: 35mm;
  height: 28mm;
  position: absolute;
  top: 3mm;
  left: 4mm;
  overflow:hidden;
}

.m2e .front .picture img {
  width: 100%;
}

.m2e .front .picture label {
  position: absolute;
  top: 0;
  left: 0;
}

@media print {
  .m2e .front .picture label {
    display:none;
  }
}

.m2e .front .cost {
  position: absolute;
  top: 3mm;
  right: 3mm;
  text-align: center;
  line-height: 1em;
}
.m2e .front .cost .costHeadline {
  text-transform: uppercase;
  font-size: 1mm;
}
.m2e .front .cost .costValue {
  font-size: 5mm;
  line-height: 1em;
}

.m2e .front .statsWrapper {
  position: absolute;
  right: 3mm;
  top: 3mm;
  width: 44mm;
  height: 28mm;
}

.m2e .front .statsWrapper .name {
  text-transform: uppercase;
  font-size: 3mm;
  margin: 0 0 1mm 0;
}
.m2e .front .statsWrapper .characteristics {
  font-style: italic;
}
.m2e .front .statsWrapper .keywords {
  font-size: 2mm;
  margin: 1mm 0 2mm;
}
.m2e .front .statsWrapper .stats .headerRow {
  line-height: 3.8mm;
  font-size: 1.8mm;
  overflow: hidden;
  color: #fff;
  width: 40mm;
  text-transform: uppercase;
  border: .1mm solid #333;
  position: relative;
}
.m2e .front .statsWrapper .stats .headerRow:before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-bottom: 5mm solid #333;
  z-index: -1;
}
.m2e .front .statsWrapper .stats .row {
  line-height: 4mm;
  font-size: 2.3mm;
  border: .1mm solid #333;
  font-weight: bold;
  overflow:hidden;
  width:40mm;
}
.m2e .front .statsWrapper .stats .stat {
  width: 7.7mm;
  display: inline-block;
  float:left;
  text-align: center;
  border: .1mm none #333;
  border-left-style: solid;
}
.m2e .front .statsWrapper .stats .stat:first-child {
  border-left-style: none;
  width: 7.8mm;
}
.m2e .front .statsWrapper .stats .headerRow .stat::first-letter{
  font-size: 2.3mm;
}
.m2e .front .statsWrapper .beta {
  position: absolute;
  right:0;
  bottom:0;
}
.m2e .front .statsWrapper .wounds {
  position: relative;
  overflow:hidden;
  margin: 1mm 0 0;
}
.m2e .front .statsWrapper .wounds .wound {
  position: relative;
  width: 2mm;
  height: 2mm;
  border: 0.1mm solid #333;
  border-radius: 100%;
  float:left;
}
.m2e .front .statsWrapper .wounds .wound:nth-child(even) {
  margin: 3.5mm 0 0 0;
}

.m2e .front .abilities {
  position: absolute;
  top: 31mm;
  left:3mm;
  right:3mm;
  bottom:3mm;
  overflow:hidden;
}

.m2e .front .abilities .abilitiesHeadline {
  position: relative;
  text-align:center;
}
.m2e .front .abilities .abilitiesHeadline span {
  font-size: 2mm;
  font-weight: bold;
  background: #fff none;
  padding: 0 1mm;
}
.m2e .front .abilities .abilitiesHeadline:before {
  content:'';
  position:absolute;
  border:.1mm none #333;
  border-bottom-style: solid;
  height: 1mm;
  left: 0;
  right:0;
  z-index: -1;
}

.m2e .front .abilitiesWrapper {
  column-count: 2;
  column-fill:auto;
  margin: 1mm 0 0 0;
  font-size: 1.8mm;
  line-height: 2.5mm;
  height: 28mm;
}

.m2e .front .abilitiesWrapper .ability {
  margin: 0 0 1mm;
}

.m2e .front .abilitiesWrapper .ability span:first-child {
  font-weight: bold;
  text-transform: capitalize;
}

.m2e .back .name {
  position: absolute;
  left:7mm;
  bottom:0;
  width:64.5mm;
  height:7mm;
  transform:rotate(-90deg);
  transform-origin: bottom left;
}
.m2e .back .name span {
  line-height: 7mm;
  text-align: center;
  display:block;
  font-size: 2mm;
  text-transform: uppercase;
  font-weight: bold;
}
.m2e .back .base {
  position: absolute;
  bottom: 1mm;
  right:3mm;
  color: #fff;
  padding: 0.2mm 2mm;
  line-height: 2mm;
  overflow: hidden;
}
.m2e .back .base:before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-bottom: 5mm solid #333;
  z-index: -1;
}

.m2e .back .actionsWrapper {
  margin: 0 0 0 7mm;
}

.actionsWrapper .actionHead {
  color: #fff;
  overflow:hidden;
  padding: .5mm 1mm;
  margin: 1mm 0;
  position:relative;
  line-height: 1em;
}
.actionsWrapper .actionHead:before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-bottom: 5mm solid #333;
  z-index: -1;
}
.actionsWrapper .actionStats {
  overflow:hidden;
  line-height:1.4em;
}
.actionsWrapper .actionName {
  width: 40%;
  font-weight: bold;
  float:left;
}

.actionsWrapper .actionRg,
.actionsWrapper .actionStat,
.actionsWrapper .actionRst,
.actionsWrapper .actionTN {
  width: 15%;
  text-align: center;
  float:left;
}
.actionsWrapper .actionRules {
  padding: .5mm 1mm 1mm;
}
.actionsWrapper .actionTrigger {
  margin: .5mm 0 0 2.5mm;
  padding-left: 2.5mm;
  text-indent: -2.5mm;
}
.actionsWrapper .actionTriggerName {
  font-weight: bold;
  font-style: italic;
}

.m2e .printUpgrade {
  height: 89.5mm;
  width: 64.5mm;
  overflow:hidden;
  position:relative;
  float:left;
}
.m2e .printUpgrade > .name {
  font-variant: small-caps;
  font-size: 4mm;
  font-weight: bold;
  text-align:center;
  line-height: 1em;
  padding: 3mm 0 1.5mm;
}
.m2e .printUpgrade .cost {
  font-variant: small-caps;
  font-size: 2mm;
  line-height: 6mm;
  padding: 2mm 0 3mm;
  position:relative;
  font-weight: bold;
  text-align:center;
}
.m2e .printUpgrade .cost .value {
  font-size: 6mm;
  padding: 0 1mm;
}
.m2e .printUpgrade .text {
  padding: 0 7mm 2mm;
  position:relative;
}
.m2e .printUpgrade .text.arrow:before {
  left:  5mm;
  top:0;
  position:absolute;
  content:'';
  border: 1mm transparent solid;
  border-left-color:#ccc;
}
.m2e .printUpgrade .text .name {
  font-weight: bold;
  text-transform: capitalize;
}
.m2e .printUpgrade .limitations {
  position: absolute;
  bottom: 3mm;
  left:0;
  right:0;
  text-align: center;
}
.m2e .printUpgrade .limitations div {
  text-transform: uppercase;
  font-size:2.2mm;
  line-height: 3.8mm;
}
.m2e .printUpgrade .limitations span {
  font-weight: bold;
  margin-top: 1mm;
  text-transform: capitalize;
}
.m2e .printUpgrade .beta {
  position: absolute;
  bottom: .5mm;
  right: .5mm;
}

.exclude .overlay {
  content: '';
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: none rgba(255,255,255,.8);
  font-size: 16px;
  text-align: center;
}
.exclude .overlay div:first-child{
  color: darkred;
  margin-top: 40mm;
}
.exclude .overlay .button {
  margin: 14px 28px;
}
.printModel .button.exclude,
.printUpgrade .button.exclude {
  opacity: 0;
  position: absolute;
  bottom: 30mm;
  left:14mm;
  right: 14mm;
  transition: opacity 300ms;
  font-size: 16px;
}
.printModel .button.exclude {
  left: 50mm;
  right: 50mm;
}
.printModel:hover .button.exclude,
.printUpgrade:hover .button.exclude {
  opacity: 1;
}
.printModel.exclude:hover .button.exclude,
.printUpgrade.exclude:hover .button.exclude {
  opacity: 0;
}
@media print {
  .exclude {
    display: none;
  }
}

@supports (-moz-appearance:none) {
  .m2e .front .statsWrapper .stats .headerRow,
  .m2e .back .base,
  .actionsWrapper .actionHead {
    color: #000;
  }
  .m2e .front .statsWrapper .stats .headerRow:before,
  .m2e .back .base:before,
  .actionsWrapper .actionHead:before {
    border-bottom-color: #ccc;
  }
}
