@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  font-family: 'Merriweather', serif;
  padding: 0 0 60px;
  overflow-y: scroll;
}

h1 {
  font-size: 18px;
  margin: 20px 0 10px;
  font-weight: bold;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
ul li {
  padding: 5px;
  margin-left: 35px;
}

.capitalize {
  text-transform: capitalize;
}

.invalid {
  background: #faa;
}

.fullWidth {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.help {
  position: absolute;
  right:0;
  top: 50%;
  margin-top: -10px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  width:14px;
  height: 14px;
  cursor:pointer;
}
.help:before {
  content:'?';
  line-height: 14px;
  font-size: 8px;
  font-weight:bold;
  text-align:center;
  display:block;
  position: absolute;
  left:1px;
  right:0;
  top:0;
}
.helpText {
  margin: 0 0 8px;
  line-height: 1.1em;
}

.ux-dialog-overlay {
  background: rgba(0,0,0,.25) none;
}

.message {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  transition: transform 300ms;
  z-index:-1;
}
.message.show {
  transform: translateY(100%);
}

.button {
  background: #333 none;
  color: #eee;
  border-radius: 10px;
  padding: 8px;
  margin: 4px 0;
  cursor: pointer;
  text-align:center;
  position: relative;
}
.button:hover {
  color: #fff;
  background: #000;
}
.button:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: green none;
  opacity: 0;
  transition: opacity 500ms;
  content:'';
  border-radius: 10px;
}
.button.success:before {
  opacity: 1;
  transition: none;
}

.remove:before {
  cursor: pointer;
  display: block;
  content: '☠';
}

.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu a {
  cursor: pointer;
  padding: 4px 8px;
  background: #dedede none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 2px;
}
.main-menu a:hover {
  background: aliceblue;
}
.main-menu a.active {
  box-shadow: inset 0 0 20px #fff;
  border-color: #dedede;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.menus {
  position: fixed;
  width: 200px;
  left: 50%;
  top: 0;
  transition: transform 100ms;
  z-index: 10;
  margin: 0 0 50px -600px;
  max-height: 100vh;
  overflow: -moz-scrollbars-none;
  overflow-y: auto;
}
.menus::-webkit-scrollbar {
  display:none;
}
.menus.shown {
  transform: translate3d(200px,0,0);
}
.menus.right {
  margin: 0 0 0 400px;
  padding: 0 0 50px 0;
}
.menus.right.shown {
  transform: translate3d(-300px,0,0);
}

.filterMenu, .sortMenu, .installMenu, .crewsMenu, .crewBuilder, .accountMenu, .setupsMenu {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  background: #eee;
}
.installMenu {
  opacity: 0;
  transition: opacity 200ms;
}
.installMenu.shown {
  opacity: 1;
}

.filterSectionName {
  padding: 2px 4px;
}

.filterCount {
  font-size: 11px;
  color: #333;
}

.filterMenu .statRange {
  display:flex;
  justify-content: space-between;
  margin: 0 0 4px;
}
.filterMenu .statRange span {
  padding: 0 4px;
}
.filterMenu .statRange label input {
  width: 100%;
  border:none;
  margin: 0 auto;
  text-align: center;
}

.modify {
  display: flex;
}
.modify div{
  padding: 2px 4px;
  border: #000 none 1px;
  border-right-style: solid;
  cursor: pointer;
}
.modify div:last-child {
  border-right-style: none;
}

.headline {
  font-weight: bold;
  text-align: center;
  position: relative;
}
.faction {
  position: relative;
}
.faction:before {
  display: block;
  position:absolute;
  left: 0;
  top:0;
  bottom:0;
  width: 10px;
  content:'';
}
.faction.arcanists:before {background: linear-gradient(to right, rgba(91,126,216,0.5) 0,rgba(91,126,216,0) 100%); }
.faction.bayou:before {background: linear-gradient(to right, rgba(172,111,79,0.5) 0,rgba(172,111,79,0) 100%); }
.faction.dmh:before {background: linear-gradient(to right, rgba(0,0,0,0.5) 0,rgba(50,50,50,0) 100%); }
.faction.guild:before {background: linear-gradient(to right, rgba(169,51,76,0.5) 0,rgba(169,51,76,0) 100%); }
.faction.neverborn:before {background: linear-gradient(to right, rgba(171,74,216,0.5) 0,rgba(171,74,216,0) 100%); }
.faction.outcasts:before {background: linear-gradient(to right, rgba(223,186,9,0.5) 0,rgba(223,186,9,0) 100%); }
.faction.resser:before {background: linear-gradient(to right, rgba(84,163,71,0.5) 0,rgba(84,163,71,0) 100%); }
.faction.tt:before {background: linear-gradient(to right, rgba(235,155,8,0.5) 0,rgba(235,155,8,0) 100%); }

.groupTitleWrapper {
  border: solid #000 2px;
  padding: 2px 4px;
  display: flex;
  background: #eee;
  font-weight: bold;
}
.faction .groupTitleWrapper {
  background: none transparent;
}
.factionTitle {
  display:flex;
  flex-grow:1;
}
.factionTitle img {
  width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
}
.factionTitle span {
  line-height: 40px;
}

.factionIconsWrapper {
  display: flex;
  justify-content: center;
  max-width: 300px;
  flex-wrap: wrap;
}

.factionIcon {
  width: 116px;
  height: 116px;
  margin: 10px;
}

.faction .factionUpgrades {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

ux-dialog-head {
  text-align: center;
  display: block;
}

.model {
  padding: 4px;
  border: solid #000 2px;
}

.quickLine {
  display: flex;
}
.quickLine div:first-child {
  flex-grow: 1;
}

.quickLine .name {
  font-weight: bold;
}

.quickLine .quickShow {
  margin: 0 4px 0 0;
}
.quickLine .quickShow:nth-child(odd) {
  font-weight: bold;
}

.addToCrew {
  background: #333;
  color: #fefefe;
  border-radius: 10px;
  padding: 0 8px;
  font-weight: bold;
  font-size: 16px;
  display:block;
  cursor: pointer;
}

.model .details {
  margin: 4px;
  position: relative;
}
.model .details .types {
  font-style: italic;
}
.model .details .size {
  position: absolute;
  right: 4px;
  top: 0;
}
.model .details .factions {
  position: absolute;
  right: 4px;
  top: 20px;
}
.model .details .stat {
  margin: 4px 0 0 4px;
  text-transform: capitalize;
}
.model .details .rules {
  margin: 4px 0;
}
.model .details .rule {
  padding: 4px 0;
}
.model .details .rules .ruleName {
  font-weight: bold;
  text-transform: capitalize;
}
.details .actionHead {
  background: #000;
  color: #fff;
  display: flex;
  padding: 2px 4px;
  margin: 4px 0;
}
.details .actionStats {
  display: flex;
  padding: 4px;
}
.details .actionName {
  width: 40%;
  font-weight: bold;
}
.details .actionRg,
.details .actionStat,
.details .actionRst,
.details .actionTN {
  width: 15%;
  text-align: center;
}
.details .actionRules {
  padding: 2px 4px;
}
.details .actionTrigger {
  margin: 4px 0 0 20px;
  padding-left: 20px;
  text-indent: -20px;
}
.details .actionTriggerName {
  font-weight: bold;
  font-style: italic;
}
.model .personalize {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.model .personalize .button {
  margin: 8px 8px 0;
}
.model .personalize .button.active {
  background: green;
}
.model .close {
  position: absolute;
  bottom: 0;
  right:0;
  width: 20px;
  height: 20px;
  cursor:pointer;
}
.close:before {
  content:'';
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -5px;
  border: solid transparent 5px;
  border-bottom-color: #000;
}

.suitImg {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("../../static/images/crow.png") no-repeat 50% 50%;
  vertical-align: text-bottom;
}
.suitImg.tomes {background-image:url("../../static/images/tomes.png");}
.suitImg.mask {background-image:url("../../static/images/mask.png");}
.suitImg.ram {background-image:url("../../static/images/ram.png");}
.suitImg.plus {background-image:url("../../static/images/plus.png");}
.suitImg.minus {background-image:url("../../static/images/minus.png");}
.suitImg.melee {background-image:url("../../static/images/melee.png");}
.suitImg.gun {background-image:url("../../static/images/gun.png");}
.suitImg.pulse {background-image:url("../../static/images/pulse.png");}
.suitImg.aura {background-image:url("../../static/images/aura.png");}
.suitImg.bonus {background-image:url("../../static/images/bonus.png");}
.suitImg.blast {background-image:url("../../static/images/blast.png");}

.expandable {
  padding-left: 20px;
  position:relative;
  cursor: pointer;
}
.expandable:before {
  content:'';
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -5px;
  border: solid transparent 5px;
  border-left-color: #000;
}
.expandable.filtering:before {
  border-left-color: #393;
}
.expandable.shown:before {
  border-left-color: transparent;
  border-top-color: #000;
}
.expandable.filtering.shown:before {
  border-top-color: #393;
}
.mobileMenuToggler {
  display: none;
}

.centerMenuToggler {
  display:block;
  position:fixed;
  bottom:0;
  left: 50%;
  padding: 10px 20px;
  border: solid #000 2px;
  z-index: 100;
  background: #fff none;
  border-bottom-style: none;
  border-radius: 10px 10px 0 0;
  margin-left: -84px;
}

.crew, .setup {
  display: flex;
  margin: 4px 0;
}

.crew .crewName, .setup .setupName {
  flex-grow:1;
  cursor: pointer;
}

.crewModelType {
  font-weight: bold;
  border: 1px solid #333;
  border-right-style: none;
  border-left-style: none;
}

.crewModel {
  display: flex;
  margin: 4px 0;
}

.crewModel span:first-child {
  flex-grow: 1;
}

.crewModel.upgrade {
  font-size: .8em;
  margin-left: 8px;
  color: #666;
}

.crewModel.actions {
  display: flex;
  margin: 0;
}
.crewModel.actions div {
  flex-grow: 1;
  text-align:center;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  line-height: 20px;
  margin: -4px 0 0 0;
}
.crewModel.actions div:hover {
  color: #000;
}
.crewModel.actions div.remove:hover {
  color: #f00;
}

.listOptions {
  padding: 4px 0;
  border: 1px none #000;
  border-top-style: solid;
}

.soulStones {
  display: flex;
  justify-content: center;
}
.soulStones input {
  width: 5ch;
}
.remainingSoulStonesSummary {
  display:none;
}
.appVersion {
  margin: 10px 0 0;
  color: #333;
}
.editModel {
  display:flex;
}
.editModel div {
  text-align: center;
  flex-grow: 1;
  width: 50%;
}
.editModel div input {
  width: 50px;
}
.editModel div span {
  width: 100%;
}
.editUpgrades {
  width: 500px;
  max-width: 80vw;
}
.editUpgrades .upgrade {
  padding: 4px;
  border: 1px solid #333;
}
.editUpgrades .upgrade .text,
.stratsAndSchemes .text {
  padding: 4px;
  line-height: 1.1em;
}
.editUpgrades .upgrade .text.clearAbove {
  padding-top: 20px;
}
.editUpgrades .upgrade .text .name,
.stratsAndSchemes .text b,
.stratsAndSchemes .text b {
  font-weight: bold;
}
.editUpgrades .upgrade .limitations {
  text-transform: capitalize;
  text-align: center;
}
.editUpgrades .upgrade .limitations div {
  text-transform: uppercase;
  line-height: 1.1em;
  padding: 8px 0 4px;
}

.stratsAndSchemes {
  max-width: 500px;
}

.shareBody {
  width: 500px;
  max-width: 80vw;
}

.shareBody .headline {
  margin: 0 0 4px 0;
}
.shareBody input {
  margin: 0 0 8px;
  width: 100%;
}
.shareBody textarea {
  width: 100%;
}
p {
  margin: 4px;
  line-height: 1.1em;
}

@media only screen and (max-width: 800px) {
  .mobileMenuToggler {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    border: solid #000 2px;
    z-index: 100;
    background: #fff none;
    border-bottom-style:none;
  }
  .leftMenuToggler {
    border-left-style: none;
    border-radius: 0 10px 0 0;
  }
  .rightMenuToggler {
    border-right-style:none;
    border-radius: 10px 0 0 0;
    left: auto;
    right: 0;
  }
  .model .details .size,
  .model .details .factions {
    position: static;
  }
  .menuBackground {
    position:fixed;
    left:0;
    right:0;
    top:0;
    background: rgba(0,0,0,.25) none;
    opacity: 0;
    z-index: 9;
  }
  .menuBackground.shown {
    bottom:0;
    opacity: 1;
    transition:opacity 200ms;
  }
  .menus {
    left: -200px;
    margin: 0 0 50px;
  }
  .menus.right {
    left: auto;
    right: -300px;
    width: 300px;
  }
  .menus:after {
    display: block;
    height: 50px;
    content: '';
  }
  .remainingSoulStonesSummary {
    display: block;
    position: fixed;
    top: -30px;
    left: 50%;
    width: 100px;
    height: 28px;
    border:solid 2px #000;
    background: none #fff;
    margin: 0 0 0 -52px;
    transition: transform 200ms;
    border-radius: 0 0 10px 10px;
    text-align: center;
    line-height: 30px;
  }
  .remainingSoulStonesSummary.shown {
    transform: translate3d(0, 30px, 0);
  }
  .quickLine {
    line-height: 24px;
  }
  .addToCrew {
    font-size: 24px;
  }
  .message {
    bottom: 100px;
    background: #fff none;
    margin: 0 4px;
    border-radius: 10px;
  }
}
