<template>
  <div class="crewModel" >
    <span>${model.name}</span> <span class="cost">${model.name === crew.leader ? '★':model.cost}</span>
  </div>
  <div class="crewModel upgrade" if.bind="model.upgrade">
    <span>${model.upgrade.name}</span> <span class="cost">${model.upgrade.cost}</span><span class="remove" hammer-tap.call="removeUpgrade()"></span>
  </div>
  <div class="crewModel actions">
    <div hammer-tap.call="showCrewModel()">Show</div>
    <div click.trigger="editCrewModel()">Edit</div>
    <div hammer-tap.call="removeModel()" class="remove"></div>
  </div>
</template>
