<template>
  <require from="../converters/key-value-converter"></require>
  <require from="./crewModel"></require>
  <div class="crewBuilder">
    <div class="message ${messageShow} ${messageType}" innerhtml.bind="message"></div>
    <div class="inputWrapper">
      <label class="soulStones">SS: <span>${remaining}</span>/<input type="number" value.bind="crewBuilderService.currentCrew.soulStones" /></label>
    </div>
    <div class="crewModels">
      <div class="section ${type}" repeat.for="type of crew.models | keys" if.bind="crew.models[type].length">
        <div class="crewModelType">${dataService.getTypeDisplayName(type)}</div>
        <crew-model repeat.for="model of crew.models[type]" model.bind="model"></crew-model>
      </div>
    </div>
    <div class="listOptions">
      <div class="inputWrapper">
        <label><input type="text" placeholder="Crew Name" value.bind="crewName" /></label>
      </div>
      <div class="inputWrapper" if.bind="crewName">
        <div class="button ${saveSuccess?'success':''}" hammer-tap.call="save()">Save</div>
      </div>
    </div>
  </div>
  <div class="crewBuilder">
    <div class="button" hammer-tap.call="printCrew()">Print crew</div>
  </div>
  <div class="crewBuilder">
    <div class="button" hammer-tap.call="shareCrew()">Share crew</div>
  </div>
  <div class="crewBuilder">
    <div class="button" hammer-tap.call="endCrewBuilder()">End Crew building</div>
  </div>
</template>
