<template>
  <require from="../converters/key-value-converter"></require>
  <require from="../converters/suit-value-converter"></require>
  <require from="./actionTable"></require>
  <div class="model">
    <div class="quickLine ${shown?'shown':''}">
      <div class="expandable ${shown?'shown':''}" hammer-tap.call="toggle()">
        <span class="name">${model.name}</span>
        <span class="quickShow" repeat.for="quickShow of filterService.options.quickShow">${getQuickShow(quickShow)}</span>
      </div>
      <div if.bind="crewBuilderService.isBuilding && !model.problem" hammer-tap.call="addToCrew()">
        <span class="addToCrew">+</span>
      </div>
    </div>
    <div class="details" if.bind="shown">
      <div class="types" innerhtml.bind="characteristics()"></div>
      <div class="keywords">${model.keywords.join(", ")}</div>
      <div class="size">${model.size.base}mm, Sz ${model.size.height}</div>
      <div class="factions">${model.factions.join(", ")}</div>
      <div class="stat" repeat.for="[name,stat] of getStats()">
        ${name}: ${stat.value} <span if.bind="stat.suit" innerhtml.bind="stat.suit | suit"></span>
      </div>
      <div class="rules">
        <div class="rule" repeat.for="rule of model.rules">
          <span class="ruleName" innerhtml.bind="ruleName(rule)"></span>
          <span innerhtml.bind="rule.text | suit"></span>
        </div>
      </div>
      <action-table if.bind="model.attacks" actions.bind="model.attacks" name.bind="'Attack Actions'"></action-table>
      <action-table if.bind="model.tacticals" actions.bind="model.tacticals" name.bind="'Tactical Actions'"></action-table>

      <div class="personalize">
        <div class="button ${filterService.custom.owned.indexOf(model.name)>-1?'active':''}" hammer-tap.call="togglePersonal('owned')">Owned</div>
        <div class="button ${filterService.custom.painted.indexOf(model.name)>-1?'active':''}" hammer-tap.call="togglePersonal('painted')">Painted</div>
        <div class="button ${filterService.custom.favourites.indexOf(model.name)>-1?'active':''}" hammer-tap.call="togglePersonal('favourites')">Favourite</div>
      </div>

      <div class="close" hammer-tap.call="toggle()"></div>
    </div>
  </div>
</template>
