<template>
  <div class="scheme">
    <div class="groupTitleWrapper">
      <div class="factionTitle expandable ${shown?'shown':''}" hammer-tap.call="toggle()"><span>${scheme.number}. ${scheme.name}</span></div>
      <div class="button selectable ${chosen?'chosen':''}" click.trigger="select()" if.bind="selectable">${chosen?"-":"+"}</div>
    </div>
    <div show.bind="shown">
      <div class="text" if.bind="scheme.text" innerhtml.one-time="scheme.text"></div>
      <div class="text"><b>Reveal:</b> <span innerhtml.one-time="scheme.reveal"></span></div>
      <div class="text"><b>End:</b> <span innerhtml.one-time="scheme.end"></span></div>
    </div>
  </div>
</template>
